@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;500;700;900&family=Share+Tech+Mono&display=swap");
* {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
  background-color: rgb(21, 21, 22);

  color: white;
}
a {
  text-decoration: none;
}

.home-page {
  background: none;
  text-align: left;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.movie-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.movie-card {
  /* border: 1px solid #ccc; */
  animation: card 3s forwards;
  /* border-radius: 15px; */
  padding: 20px;
  /* box-shadow: 1px 2px 15px rgba(255, 255, 255, 0.3); */
  width: 300px;
  height: 190px;
  text-align: center;
  background-color: transparent;
}

.searched-movie-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: center;
}

.searched-movie-details {
  margin-top: 180px;
}

.favourite_icon {
  color: rgb(157, 78, 221);
  font-size: 30px;
  cursor: pointer;
  transition: all 0.2s;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
.favourite_icon:hover {
  color: #333;
}
.favourited {
  color: rgb(157, 78, 221);
}

.movie-card img {
  position:absolute;
  width: 95%;
  height:auto;
  left: 50%;
  top: 0;
  z-index: -1;
  overflow: hidden;
  transform: translateX(-50%);
  border-radius: 25px;
}

.icon {
  background-color: #666;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  font-size: 30px;
  color: #ccc;
  cursor: pointer;
  transition: all 0.2s;
}

.main_heading {
  text-align: left;
  font-size: 40px;
  margin-bottom: 20px;
  font-weight: bold;
}

.detail_item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 10px;
}
.icon:hover {
  color: white;
  background-color: #333;
}
.search_container {
  display: flex;
  gap: 10px;
  background-color: transparent;
}

.movie-card h2 {
  margin: 0;
}

.movie-card p {
  font-size: 14px;
  color: #666;
}

.pagination {
  margin-top: 30px;
  display: flex;
  align-items: center;
  background-color: rgb(21, 21, 22);
  justify-content: space-around;
  width: 100%;
  color: #ccc;
  padding: 10px;
  border-radius: 10px;
}

.pagination_btns {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  border-radius: 35%;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
}
.pagination_btns:hover {
  background-color: rgb(157, 78, 221);
}
.pagination_container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: none;
  gap: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border-radius: 12px;
  border: none;
  cursor: pointer;
}

@keyframes card {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  50% {
    transform: translateY(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.movie_detail {
  width: 80%;
  display: flex;
  height: 80%;
  border-radius: 20px;
  position: absolute;
  top: 30px;
  box-shadow: 5px 12px 25px rgba(0, 0, 0, 0.8);
  border-radius: 25px;
  left: 150px;
  margin: auto;
}
.movie_detail__poster {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.movie_Desc {
  flex: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.detail_item > span {
  background: none;
}
.detail_container > p {
  background: none;
}

.detail_container {
  display: flex;
  padding: 10px;
  border-radius: 10px;
  margin-top: 30px;
  background-color: #333;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 10px;
  align-items: flex-start;
}
.detail_Poster {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.generes {
  margin-top: 20px;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

